.first-layer {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
     background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.second-layer {
    margin-top: 2px;
    height: 50px;
    background-color: green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
     position: fixed;
     top: 115px;
     left: 0;
    right: 0;
}
.profile {
    margin-left: 100px;
    margin-right: 100px;
}
.third-layer {
    margin-top: 2px;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 180px;
    gap: 20px;
}
.sidebar {
    width: 150px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    
}
.sidepic {
    width: 30px;
}
.sidebar > div {
    font-size: 35px;
    margin-bottom: 60px;
    border-bottom-width: 2px ;
    border-bottom-style: solid;
}
.video {
    width: 100%;
    margin-left: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.first {
    margin-left: 20px;
    display: flex;
}
.second {
    margin-right: 20px;
    display: flex;
}
.searchbox {
    padding: 8px;
    width: 300px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    font-family: arial;
    margin-right: 10px;
}
.searchbutton {
 padding: 10px;
 background-color: white;
 color: green;
 border: none;
 border-radius: 15px;
 font-family: arial;
font-weight: 500;
 font-size: 16px;
 cursor: pointer;
}
.searchbutton:hover {
    background-color: green;
    color: white;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
    transition: 0.5s;
}
.text {
    font-size: 25px;
    margin-right:50px ;
    color: white;
    font-family: arial;
}
.text:hover {
    text-decoration: dashed;
}
.video > div{
    border: 1px solid black;
}
.vidpic {
    width: 100%;
}
p {
    margin: 0;
    font-size: 22px;
    font-family: arial;
}
@media (max-width: 990px){
    .video{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 770px){
    .video{
        grid-template-columns: 1fr 1fr ;
    }
}
@media (max-width: 660px){
    .video{
        grid-template-columns: 1fr;
    }
}